DEBUG=
LOG_LEVEL=
POSTGRES_ENGINE=
POSTGRES_NAME=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=
CLICKHOUSE_IP=
CLICKHOUSE_PORT=
CLICKHOUSE_USERNAME=
CLICKHOUSE_PASSWORD=
N_HOURS_AGO=
NUM_THREADS=
REDIS_HOST=
REDIS_PORT=