DEBUG=true
LOG_LEVEL=INFO
POSTGRES_ENGINE=django.db.backends.postgresql_psycopg2
POSTGRES_NAME=hoboc
POSTGRES_USER=hobocadmin
POSTGRES_PASSWORD=hobocpassword
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
